In [8]:
#10ポイントと20ポイントのみ表が出るとポイントが発生する時の、合計の期待値E(ξ|η)を求める
#h=aη+bを用いた解法

from sympy.abc import a,b#変数a,bを指定
X10,X20,X50 = S.symbols("X10,X20,X50",real=True)#変数X10,X20,X50を指定
xi  = 10*X10+20*X20+50*X50#ξを定義
eta = X10*X20*30 + X10*(1-X20)*(10)+ (1-X10)*X20*(20)#ηを定義
h = a*eta + b#h関数を定義
MSE=S.summation((xi-h)**2*S.Rational(1,8),(X10,0,1),(X20,0,1),(X50,0,1))#MSEを定義、summation:総和,Rational:分数
sol=S.solve([S.diff(MSE,a),S.diff(MSE,b)],(a,b))#solve:方程式を解く、diff:微分
print (sol)

{a: 1, b: 25}

In [28]:
#<ξ-h,η>=0,<ξ-h,1>=0から導く解法
#<ξ-h,η>=0を展開

expr=S.expand((xi-h)*eta)#expand:展開
print(expr)

-100*X10**2*a + 100*X10**2 - 400*X10*X20*a + 400*X10*X20 + 500*X10*X50 - 10*X10*b - 400*X20**2*a + 400*X20**2 + 1000*X20*X50 - 20*X20*b

In [10]:
expr.xreplace({X10**2:0.5, X20**2:0.5,X10:0.5,X20:0.5,X50:0.5})#xreplace:X10**2、X20**2、X10、X20、X50をそれぞれ0.5に代入

-350.0*a - 15.0*b + 725.0

In [11]:
#<ξ-h,1>=0を展開


print (S.expand((xi-h)*1).xreplace({X10**2:0.5, X20**2:0.5,X10:0.5,X20:0.5,X50:0.5}))#expand:展開,xreplace:それぞれ0.5を代入

-15.0*a - b + 40.0

In [29]:
#二つの式から連立方程式を求める

print (S.solve([-350.0*a-15.0*b+725.0,-15.0*a-b+40.0]))#連立方程式を解く

{a: 1.00000000000000, b: 25.0000000000000}

In [50]:
#pandasのDataFrameから導く方法


import numpy as np
import pandas as pd
d = pd.DataFrame(columns=['X10','X20','X50'])
d.X10 = np.random.randint(0, 2, 1000)
d.X20 = np.random.randint(0, 2, 1000)
d.X50 = np.random.randint(0, 2, 1000)
d["sm"] = d.eval('X10*10+X20*20')

In [44]:
d

     X10  X20  X50  sm
0      1    1    1  30
1      0    1    0  20
2      1    1    1  30
3      1    0    1  10
4      1    0    1  10
5      0    1    1  20
6      1    1    1  30
7      1    1    0  30
8      1    0    1  10
9      1    0    0  10
10     0    0    1   0
11     0    0    1   0
12     0    1    0  20
13     1    0    1  10
14     1    1    1  30
15     1    0    0  10
16     0    1    1  20
17     0    0    1   0
18     0    0    1   0
19     0    0    0   0
20     0    0    1   0
21     0    1    0  20
22     1    0    0  10
23     0    0    0   0
24     1    1    0  30
25     1    1    1  30
26     0    0    1   0
27     1    1    1  30
28     1    1    1  30
29     1    0    1  10
..   ...  ...  ...  ..
970    1    0    1  10
971    1    1    0  30
972    1    1    1  30
973    1    0    0  10
974    1    0    1  10
975    1    0    1  10
976    0    1    0  20
977    0    0    1   0
978    1    0    0  10
979    1    0    0  10
980    0    1    0  20
981    0    1    0  20
982    1    1    0  30
983    0    1    0  20
984    1    0    0  10
985    0    1    0  20
986    0    0    0   0
987    1    1    0  30
988    1    0    1  10
989    0    0    0   0
990    1    0    1  10
991    0    1    1  20
992    0    0    1   0
993    1    0    1  10
994    1    0    0  10
995    0    1    0  20
996    0    1    1  20
997    0    0    0   0
998    1    1    0  30
999    1    1    1  30

[1000 rows x 4 columns]

In [51]:

#合計の値のみでグループ分け
d["sm"]=d.eval('X10*10+X20*20')#eval:式を計算して値を返す.
d.groupby('sm').mean()

    X10  X20       X50
sm
0   0.0  0.0  0.533613
10  1.0  0.0  0.511278
20  0.0  1.0  0.512605
30  1.0  1.0  0.492248

In [52]:
d.groupby("sm").mean().eval("10*X10+20*X20+50*X50")

sm
0     26.680672
10    35.563910
20    45.630252
30    54.612403
dtype: float64